In [1]:
import sqlalchemy

engine = sqlalchemy.create_engine('postgresql://py_49:***@localhost:5432/music_web')
engine
connection = engine.connect()

Заполнем таблицу "musician"

In [10]:
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES
                (1, 'Сплин'),
                (2, 'БИ-2'),
                (3, 'Gorky Pak'),
                (4, 'Bon Jovi'),
                (5, 'Scorpions'),
                (6, 'Wiz Khalia'),
                (7, '50 cent'),
                (8, 'Каста'),
                (9, 'Лигалайз'),
                (10, 'Многоточие'),
                (11, 'Louis Armstrong'),
                (12, 'Imagine Dragons'),
                (13, 'Strome'),
                (14, 'Bob Marley');
""")

In [2]:
connection.execute("""INSERT INTO musician(id_musician, name_musician)
            VALUES
                (15, 'Noze MC'),
                (16, 'Монеточка');
""")

Заполнем таблицу "album"

In [11]:
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES
                (1, 'Передайте это Гарри Поттеру, если вдруг его встретите', '2020'),
                (2, 'Бог пролятых', '2020'),
                (3, 'Moscow Calling', '1993'),
                (4, 'The Ultimate Collection', '2010'),
                (5, 'Comeblack', '2011'),
                (6, 'Rolling Papes', '2021'),
                (7, 'Best of 50 cent', '2018'),
                (8, 'Быль в глаза', '2008'),
                (9, 'XL', '2007'),
                (10, 'Жизнь и свобода', '2001'),
                (11, 'What A Wonderfil World', '1968'),
                (12, 'The Very Best Of Louis Armstrong', '1998'),
                (13, 'Bones', '2022'),
                (14, 'Multitde', '2022'),
                (15, '40 Golden Masters', '2009'),
                (16, 'Catch A Fire', '1973');
""")

In [3]:
connection.execute("""INSERT INTO album(id_album, name_album, year_album)
            VALUES
                (17, 'Чайлдфри', '2017');
""")

Заполнем таблицу "genre"

In [12]:
connection.execute("""INSERT INTO genre(id_genre, name_genre)
            VALUES
                (1, 'Rock'),
                (2, 'Rap'),
                (3, 'Jazz'),
                (4, 'Pop music'),
                (5, 'Reggae');
""")

Заполнем таблицу "track"

In [15]:
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES
                (1, 1, 'Передайте это Гарри Поттеру, если вдруг его встретите', 5.24),
                (2, 2, 'Бог пролятых', 3.17),
                (3, 3, 'Moscow Calling', 5.10),
                (4, 4, 'It`s My Life', 3.43),
                (5, 5, 'Still Loving You', 6.43),
                (6, 6, 'Black And Yellow', 3.37),
                (7, 7, 'In Da Club', 3.47),
                (8, 8, 'Воруг шум', 3.33),
                (9, 9, 'Будующие мамы', 4.10),
                (10, 10, 'В жизни так бывает', 4.27),
                (11, 11, 'What A Wonderful World', 2.19),
                (12, 12, 'I Still Get Jealous', 2.09),
                (13, 13, 'Bones', 2.45),
                (14, 14, 'L`enfer', 3.09),
                (15, 15, 'Sun Is Shining', 2.18),
                (16, 16, 'Stir It Up', 3.39);
""")

In [4]:
connection.execute("""INSERT INTO track(id_album, id_track, name_track, duration_track)
            VALUES
                (17, 17, 'Чайлдфри', 4.04);
""")

Заполнем таблицу "collection"

In [16]:
connection.execute("""INSERT INTO collection(id_collection, name_collection, year_collection)
            VALUES
                (1, '100 хитов русского рока', 2022),
                (2, 'Вечный рок', 2021),
                (3, 'Идеальный бит', 2019),
                (4, 'Вечные хиты руссого рэпа', 2021),
                (5, 'Звезды джаза', 2021),
                (6, 'Топ распознаваний', 2022),
                (7, 'Солнечный остров: музыка Ямайки', 2018);
""")

Заполнем таблицу "collection_track"

In [17]:
connection.execute("""INSERT INTO collection_track(id, id_collection, id_track)
            VALUES
                (1, 1, 1),
                (2, 1, 2),
                (3, 2, 3),
                (4, 2, 4),
                (5, 2, 5),
                (6, 3, 6),
                (7, 3, 7),
                (8, 4, 8),
                (9, 4, 9),
                (10, 4, 10),
                (11, 5, 11),
                (12, 5, 12),
                (13, 6, 13),
                (14, 6, 14),
                (15, 7, 15),
                (16, 7, 16);
""")

Заполнем таблицу "musician_album"

In [18]:
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES
                (1, 1),
                (2, 2),
                (3, 3),
                (4, 4),
                (5, 5),
                (6, 6),
                (7, 7),
                (8, 8),
                (9, 9),
                (10, 10),
                (11, 11),
                (11, 12),
                (12, 13),
                (13, 14),
                (14, 15),
                (14, 16);
""")

In [5]:
connection.execute("""INSERT INTO musician_album(id_musician, id_album)
            VALUES
                (15, 17),
                (16, 17);
""")

Заполнем таблицу "musician_genre"

In [19]:
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES
                (1, 1),
                (2, 1),
                (3, 1),
                (4, 1),
                (5, 1),
                (6, 2),
                (7, 2),
                (8, 2),
                (9, 2),
                (10, 2),
                (11, 3),
                (12, 4),
                (13, 4),
                (14, 5);
""")

In [6]:
connection.execute("""INSERT INTO musician_genre(id_musician, id_genre)
            VALUES
                (15, 2),
                (16, 4);
""")